body {
   font-size: 100%;
}

.main_color {
background-color: #E3C995;
}

#home_page_background {
	height: 850px;
	background-image: image-url('rustic_key_new.jpg');
	repeat: no-repeat;
	background-size: 100%
}

#pecan_roll_image {
	margin-left: 20px;
}
